<div class="container">
	<h1>Galeria</h1>
	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="pic in fotos">
			<!-- Cargamos las imagenes con sus respectivos datos (galeria.js) -->
            <div class="thumbnail">
            <div style="background:url(http://localhost:8080/Think-INK/verFoto/{{pic.idFoto}}); background-size: 100% auto; width:300px; height:300px" ></div>
			<!-- Botton de like-->
			<p><button class="btn btn-primary" role="button" ng-click="darlike(pic.idFoto)" >Like</button></p>
			</div>
		</div>
	</div> 	
</div>