<div class="jumbotron" style="background:images/Pasion.jpg; background-size: 100% auto">
	<!-- Mostramos la portada, la foto de perfil y el nombre de usuario-->
	<!-- Obtener los datos del usario para mostrar -->

	<img class="img-thumbnail img-right" src="images/thinkinklogo.png" width="100px" height="100px" alt="perfil">
	<p><button type="button" class="btn btn-link btn-right">Nombre Usuario</button></p>
</div>

<div class="jumbotron">
    <div ng-controller="MainCtrl as main">
		<div class="btn-group">
		  <button type="button" class="btn btn-primary" ng-click="tab_url = 'views/main.html'">Perfil</button>
		  <button type="button" class="btn btn-primary" ng-click="tab_url = 'views/galeria.html'">Galeria</button>
		  <button type="button" class="btn btn-primary" ng-click="tab_url = 'views/mapUs.html'">Ubicacion</button>
		</div>
		<div >
			<div ng-include="tab_url" ></div>
		</div>
    </div>
</div>
